<app-menu></app-menu>
<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h2 class="mb-0">Roles</h2>
    <button
      class="btn btn-outline-success"
      (click)="addRole()">
      Add Role
    </button>
  </div>
  <ul class="list-group">
    <li *ngFor="let role of roles; " class="list-group-item d-flex justify-content-between align-items-center">
      {{ role.name }}
      <button (click)="deleteRole(role.id)" class="btn btn-danger delete-btn">
        Delete
      </button>
    </li>
  </ul>
</div>
