@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
/* src/styles.css ou src/styles.scss */

body {
  background-color: #f0f0f0; /* Remplacez par la couleur de votre choix */
  background-size: cover; /* Assure que l'image couvre toute la page */
  background-position: center; /* Centre l'image */
  background-repeat: no-repeat; /* Empêche la répétition de l'image */
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
